
@{
    ViewData["Title"] = "cities";
}

<h1>cities</h1>
<div>
    <select>
    </select>
</div>
<span></span>


@section Styles{
    <style>
   
    </style>
}

@section Scripts{
    <script>
        const cities = ["台北市", "新北市", "桃園市", "台中市", "台南市", "高雄市"]

        const data =cities.map(index=>{
            return `<option id="i">${index}</option>`
        });

        document.querySelector('select').innerHTML = data;
        //todo...
        $("option").mouseover(()=>{
            $("span").innerHTML = index;
        })
        


    </script>
}