@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <table id="empTable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <td>姓名</td>
                <td>年資</td>
                <td>薪水</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Styles {
    <style>
        p{
            background-color:antiquewhite
        }
    </style>
}

@section Scripts{
    <script>
        const emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };
        const datas = emp.employees.map(employee => {
            const { name, workYears, salary } = employee
            return (
                `
                    <tr>
                        <td>${name}</td>
                         <td>${workYears}</td>
                          <td>${salary}</td>
                    </tr>
                    `
            )
        })
        $("#empTable>tbody").html(datas.join(""));

    </script>
}